.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.active-page .nav-link::before {
    content: '> ';
    margin-right: 5px;
    color: #FF9068; /* Highlight color */
    font-weight: bold;
}

/* Make navbar taller to fit logo */
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Override Bootstrap's text-muted color for neon blue */
.text-muted {
    color: #00FFFF !important;
}

/* Set color for list items in pricing cards to neon blue */
.card .list-unstyled li {
    color: #00FFFF !important;
}

/* Change event titles in modal to neon blue */
.modal-body h5 {
    color: #FFFFFF !important;
}

/* Change event descriptions in modal to neon blue */
.modal-body p {
    color: #FFFFFF !important;
}

/* Change modal background to transparent neon blue */
.modal-content {
    background: #0F0C29 !important;
}

/* Make close button white */
.btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") !important;
    filter: none !important; /* Ensure no other filters interfere */
}

/* Style for footer links */
footer .card-text a {
    text-decoration: none;
    color: #FFFFFF !important; /* Force white color for footer links */
}

.card-text a {
    color: #ffffff;
    text-decoration: none;
}

.card-text a:hover {
    color: #00f0ff;
}

.social-icons a:hover {
    color: #00f0ff !important;
}
